{% block package_metadata_fields_document_type %}
	<div class="control-group">
		<label class="control-label" for="field-{{ field.field_name }}">{{ h.scheming_language_text(field.label) }}</label>
		<div class="controls control-full">
			<select id="field-{{ field.field_name }}"
				name="{{ h.scheming_language_text(field.field_name) }}"
				data-module="autocomplete"
				placeholder="{{ _(h.scheming_language_text(field.form_placeholder)) }}">
				{% for document_type in h.odm_dataset_get_resource_from_datatable(h.odm_dataset_get_resource_id_for_field('document_type')) %}
					<option {{"selected " if document_type['id'] == data[field.field_name] }} data-country_codes="{{ document_type['country_codes'] }}" value="{{ document_type['id'] }}">{{ document_type['name'] }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endblock %}
