{% ckan_extends %}
{% block delete_button %}
  {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
  {% if pkg.type == 'library_record' %}
    {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
      <a class="btn btn-danger pull-left" href="{% url_for controller='package', type='library_record', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% else %}
      {{super()}}
    {% endif%}
  {% endif %}
{% endblock %}
