{% ckan_extends %}

{% block content_action %}
	{% if dataset_type == 'library_record' %}
		<div class="row">
			<div class="span4 col1">
				{% snippet "snippets/language_selector_custom.html" %}
			</div>
			{% if h.check_access('package_update', {'id':pkg.id }) %}
			<div class="span4 col2">
					{% link_for _('Manage'), controller='package', type='library_record', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
			</div>
			{% endif %}
		</div>
	{% else %}
		{{ super() }}
	{% endif %}
{% endblock %}

{% block content_primary_nav %}
{% if dataset_type == 'library_record' %}
  {{ h.build_nav_icon('odm_library_read', _('Library record'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
{% else %}
  {{super()}}
{% endif%}
{% endblock %}
