{% ckan_extends %}

<div class="row">
	{% block content_action %}
		<div class="span4 col1">
			{% snippet "snippets/language_selector_custom.html" %}
		</div>
		{% if h.check_access('package_update', {'id':pkg.id }) %}
		<div class="span4 col2">
	    {% if dataset_type == 'library_record' %}
	      {% link_for _('Manage'), controller='package', type='library_record', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
	    {% else %}
	      {{super()}}
	    {% endif%}
		</div>
	  {% endif %}
	{% endblock %}
</div>

{% block content_primary_nav %}
{% if dataset_type == 'library_record' %}
  {{ h.build_nav_icon('odm_library_read', _('Library record'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
{% else %}
  {{super()}}
{% endif%}
{% endblock %}
